body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  .grey-text{
    color: rgb(83, 83, 83);
  }
  .game-conatiner {
    background-color: #ebebeb; 
  }
  ol, ul {
    padding-left: 30px;
  }

  .game-board {
    margin-top: 20px;
    margin-bottom: 50px;

  }

  .game-button {
    margin-bottom: 10px;
  }

  .game-info {
    margin-left: 20px;
    margin-top: 20px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
  }
  
  .square:focus {
    outline: none;
  }
  .square:hover{
    background-color: rgba(206, 206, 206, 0.7);
  }
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  

  